@import "tailwindcss";

@font-face {
	font-family: "Figtree";
	src: url("/Figtree/Figtree-VariableFont_wght.ttf");
}

body {
	font-family: "Figtree";
	@apply text-white;
}

@theme {
	--color-blurple: #7a83ff;
	--color-sexy-lighter-black: #2a2a2e;
	--color-sexy-red-black: #141417;
	--color-sexy-gray: #a0a0a5;

	--color-primary: #36393e;
	--color-me: #282b30;
	--color-aside: #2e3136;
	--color-guild-aside: #1e2124;
	--color-inps: #424549;
	--color-mem-aside: #2e3136;
	--color-weep-gray: hsl(215, 10%, 65.3%);

	--color-foots: #292b2f;
	--color-pops: #36393f;
}

.Markdown {
	blockquote {
		@apply italic text-sexy-gray ml-4;
	}

	p {
		@apply text-pretty whitespace-pre-wrap my-2 max-sm:text-lg;
	}

	h1 {
		@apply text-4xl font-bold my-4;
	}

	h2 {
		@apply text-3xl font-bold my-4;
	}

	h3 {
		@apply text-2xl font-bold my-2.5;
	}

	h4 {
		@apply text-xl font-bold my-2.5;
	}

	ul {
		list-style: disc;
		@apply pl-8;
	}

	code {
		@apply bg-sexy-lighter-black/80 p-0.5 rounded-md;
	}

	a {
		@apply text-blurple hover:text-blurple/75;
	}
}
