@import "tailwindcss";

@font-face {
	font-family: "Figtree";
	src: url("/Figtree/Figtree-VariableFont_wght.ttf");
}

body {
	font-family: "Figtree";
	@apply text-white;
}

@theme {
	--color-blurple: #7067cf;
	--color-sexy-lighter-black: #272727;
	--color-sexy-red-black: #1b1b1e;
	--color-sexy-gray: #758173;
}
