@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin 'tailwindcss-animate';

@font-face {
	font-family: "Nebula Sans";
	font-style: normal;
	font-weight: 900;
	src: url("/NebulaSans/NebulaSans-Black.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: normal;
	font-weight: 800;
	src: url("/NebulaSans/NebulaSans-Bold.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/NebulaSans/NebulaSans-Semibold.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/NebulaSans/NebulaSans-Medium.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: normal;
	font-weight: 300;
	src: url("/NebulaSans/NebulaSans-Book.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: normal;
	font-weight: 200;
	src: url("/NebulaSans/NebulaSans-Light.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: italic;
	font-weight: 900;
	src: url("/NebulaSans/NebulaSans-BlackItalic.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: italic;
	font-weight: 800;
	src: url("/NebulaSans/NebulaSans-BoldItalic.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: italic;
	font-weight: 700;
	src: url("/NebulaSans/NebulaSans-SemiboldItalic.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: italic;
	font-weight: 400;
	src: url("/NebulaSans/NebulaSans-MediumItalic.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: italic;
	font-weight: 300;
	src: url("/NebulaSans/NebulaSans-BookItalic.woff2") format("woff"),;
}

@font-face {
	font-family: "Nebula Sans";
	font-style: italic;
	font-weight: 200;
	src: url("/NebulaSans/NebulaSans-LightItalic.woff2") format("woff"),;
}

body {
	background-color: #36393e;
	font-family: "Nebula Sans";
	@apply text-white;
}

button {
	@apply cursor-pointer;
}

.Markdown {
	h1 {
		@apply text-2xl font-bold;
	}
	h2 {
		@apply text-xl font-bold;
	}
	h3 {
		@apply text-lg font-bold;
	}
	h4 {
		@apply font-bold;
	}
	h5 {
		@apply text-sm font-bold;
	}
	h6 {
		@apply text-xs font-semibold;
	}
	b {
		@apply font-bold;
	}
	i {
		@apply italic;
	}
}

.pop-in-trans {
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.glass-wrapper {
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;

  color: black;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.glass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.glass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.glass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.round-corners {
	border-radius: 2rem;
}

.round-corners,
.round-corners > div {
	border-radius: 2rem;
}

.round-button {
	border-radius: 2rem;
}

.round-button,
.round-button:hover {
	border-radius: 3rem;
}

.round-button > div {
	border-radius: 2rem;
}

.round-button:hover > div {
	border-radius: 3rem;
}

@theme {
	--color-thingy: rgba(255, 255, 255, 0.5);
	--color-blurple: #5B77DC;
	--color-sexy-lighter-black: #2a2a2e;
	--color-sexy-red-black: #141417;
	--color-sexy-gray: #a0a0a5;

	--color-primary: #36393e;
	--color-me: #282b30;
	--color-aside: #2e3136;
	--color-guild-aside: #1e2124;
	--color-inps: #424549;
	--color-mem-aside: #2e3136;
	--color-weep-gray: hsl(215, 10%, 65.3%);

	--color-foots: #292b2f;
	--color-pops: #36393f;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
