@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	background-color: #1b1b1e;
	font-family: "Figtree";
	@apply text-white;
}

@theme {
	--color-blurple: #8aa3ff;
	--color-sexy-lighter-black: #2a2a2e;
	--color-sexy-red-black: #141417;
	--color-sexy-gray: #a0a0a5;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
