@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animate";

body {
	background-color: hsl(210, 3%, 13%);
	font-family: "Inter";
	@apply text-white;
}

button {
	@apply cursor-pointer;
}

.Markdown {
	h1 {
		@apply text-2xl font-bold;
	}
	h2 {
		@apply text-xl font-bold;
	}
	h3 {
		@apply text-lg font-bold;
	}
	h4 {
		@apply font-bold;
	}
	h5 {
		@apply text-sm font-bold;
	}
	h6 {
		@apply text-xs font-semibold;
	}
	b {
		@apply font-bold;
	}
	i {
		@apply italic;
	}
}

.markdown-branding {
	h1 {
		@apply text-3xl font-bold mb-4;
	}
	h2 {
		@apply text-2xl font-bold py-2.5;
	}
	h3 {
		@apply text-xl font-bold py-2.5;
	}
	h4 {
		@apply font-bold py-2.5;
	}
	h5 {
		@apply text-base font-bold py-2.5;
	}
	h6 {
		@apply text-sm font-semibold py-2.5;
	}
	b {
		@apply font-bold;
	}
	i {
		@apply italic;
	}
}

.pop-in-trans {
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

@theme {
	--color-thingy: rgba(255, 255, 255, 0.5);
	--color-blurple: #3e6bff;
	--color-sexy-lighter-black: #2a2a2e;
	--color-sexy-red-black: #141417;
	--color-sexy-gray: #a0a0a5;

	--color-primary: #36393e;
	--color-me: #282b30;
	--color-aside: #2e3136;
	--color-guild-aside: #1e2124;
	--color-inps: #424549;
	--color-mem-aside: #2e3136;
	--color-weep-gray: hsl(215, 10%, 65.3%);

	--color-foots: #292b2f;
	--color-pops: #36393f;

	--color-lightest-bg: hsl(210, 3%, 15%);
	--color-lighter-bg: hsl(210, 3%, 13%);
	--color-light-bg: hsl(210, 3%, 11%);
	--color-dark-bg: hsl(210, 3%, 8%);
	--color-secondary-bg: hsl(210, 3%, 9%);
	--color-tertiary-bg: hsl(210, 3%, 20%);
	--color-fourth-bg: hsl(210, 3%, 25%);
	--color-fifth-bg: hsl(210, 3%, 35%);
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
